<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>404</title>
  <link rel="stylesheet" th:href="@{/404.css}"/>
</head>
<body>
<figure>
  <div class="sad-mac"></div>
  <figcaption>
    <span class="sr-text">Error 404: Not Found BACK</span>
    <span class="e hoverColor"></span>
    <span class="r hoverColor"></span>
    <span class="r hoverColor"></span>
    <span class="o hoverColor"></span>
    <span class="r hoverColor"></span>
    <span class="hoverColor"></span>
    <span class="_4 hoverColor"></span>
    <span class="_0 hoverColor"></span>
    <span class="_4 hoverColor"></span>
    <span class="n hoverColor"></span>
    <span class="o hoverColor"></span>
    <span class="t hoverColor"></span>
    <span class="hoverColor"></span>
    <span class="f hoverColor"></span>
    <span class="o hoverColor"></span>
    <span class="u hoverColor"></span>
    <span class="n hoverColor"></span>
    <span class="d hoverColor"></span>
    <div>
    </div>
  </figcaption>
</figure>
</body>
</html>